mixin news-preview-item(newsItem, text, readMore = true)
  - var link = 'news-item.html';
  article.news-preview-item
    .news-preview-item__picture
      .news-preview-item__image-wrapper
        a.news-preview-item__link(href=link)
          img.news-preview-item__image(src='img/media/news/' + newsItem.image, alt='')
      span.news-preview-item__date= newsItem.date
    .news-preview-item__text
      a.news-preview-item__link(href=link)
        h4.news-preview-item__title= newsItem.title
      p.news-preview-item__desc= text
      if readMore
        a.news-preview-item__read-more(href=link)= news.readMoreLabel
