include mixins/breadcrumbs.pug

doctype html
html(lang='ru')
  include includes/head.pug
  body
    include includes/header.pug

    section.section
      .section__inner
        +breadcrumbs(['О нас', 'Контакты'])

        h2.section__title Контакты
        .contacts
          .contacts__text
            p Краснодар, Северная 490, 3 этаж, офис 301
            ul.phones-list
              each phone in contacts.phones
                li.phones-list__item
                  a.phones-list__link(href='tel:' + phone.number)= phone.text
            a.contacts__link(href='mailto:' + contacts.email)= contacts.email
            nav.socials
              ul.socials__list
                each social in socials
                  li.socials__item
                    a.socials__link.icon(class=social.icon, href=social.link)
          .contacts__map
            iframe(
              width="100%",
              height="100%",
              frameborder="0",
              style="border:0",
              src="https://www.google.com/maps?q=Краснодар,+Северная+490&output=embed"
            )

    section.section-promo.section
      .section__inner
        .section-promo__title.center У вас есть вопросы? Задайте их нам!

    section.section-feedback.section.section--padding
      .section__inner
        form.form.section__content(action='#')
          .form__block-1
            .form__group
              - var field = feedbackForm.fields[0];
              label.form__label= field.label
              input.form__input(type='text', name='name', placeholder=field.placeholder)
            .form__group
              - var field = feedbackForm.fields[1];
              label.form__label= field.label
              input.form__input(type='text', name='tel', placeholder=field.placeholder)
          .form__block-2
            .form__group
              - var field = feedbackForm.fields[2];
              label.form__label= field.label
              textarea.form__input.form__textarea(name='message')
            .form__bottom
              .form__message= feedbackForm.warningMessage
              button.button.form__button= feedbackForm.submitLabel

    include includes/footer.pug

    script(src='js/app.js')
