include mixins/breadcrumbs.pug

doctype html
html(lang='ru')
  include includes/head.pug
  body
    include includes/header.pug

    section.section-image.section(style='background-image: url("img/media/slide-2.jpg")')
      .section__inner
        .section-image__content
          span.section-image__title Cпециальное предложение
          span.section-image__subtitle Для вашего бизнеса! <br> Именно для вашего бизнеса!

    section.section
      .section__inner
        +breadcrumbs(['Услуги', 'Юридические услуги для компаний'])
        h2.section__title Банкротство

        .block.block-main-list
          .block-main-list__list
            .block
              ul.list.list--no-markers
                each x, i in [...Array(5)]
                  li
                    a(href='#')= services.forPeople[i]
          .block-main-list__price
            .block
              .price-caption
                .price-caption__content
                  .price-caption__title Стоимость услуги
                  .price-caption__price от 2500 ₽
                  .price-caption__term 5-10 дней

        .block.block-text
          p= randomText.text[1]

        .block.block-layout
          .block-layout__half
            .block
              h3.section__title Что входит в услугу?
              ul.list
                each item in lists[0]
                  li= item
          .block-layout__half
            .block
              h3.section__title Необходимые документы
              ul.list.list--bright
                each item in lists[1]
                  li= item

        .block.block-table
          table.table.content-table
            caption
              h3.content-table__title Дополнительные услуги
            tbody
              each item in services.forPeople
                tr
                  td= item
                  td 
                    span.content-table__price 2500 ₽

        .block.block-slider.slider-portfolio
          h3.section__title Выигранные дела по регистрации ИП
          img(src='//placehold.it/1140x430&text=Slider')

    section.section-promo.section
      .section__inner
        .section-promo__title.center Получите бесплатную консультацию по этой услуге

    section.section-feedback.section-feedback--image-2.section.section--padding
      .section__inner
        form.form.section__content(action='#')
          .form__block-1
            .form__group
              - var field = feedbackForm.fields[0];
              label.form__label= field.label
              input.form__input(type='text', name='name', placeholder=field.placeholder)
            .form__group
              - var field = feedbackForm.fields[1];
              label.form__label= field.label
              input.form__input(type='text', name='tel', placeholder=field.placeholder)
          .form__block-2
            .form__group
              - var field = feedbackForm.fields[2];
              label.form__label= field.label
              textarea.form__input.form__textarea(name='message')
            .form__bottom
              .form__message= feedbackForm.warningMessage
              button.button.form__button= feedbackForm.submitLabel

    section.section
      .section__inner
        .block.block-text
          h4= randomText.title
          each text in randomText.text
            p= text

    include includes/features.pug

    include includes/footer.pug
