footer.footer.section.section--padding
  .section__inner
    .section__content
      section.footer__for-companies
        h3.footer__title Для компаний
        nav.footer-menu
          ul.footer-menu__list
            each item in services.forPeople
              li.footer-menu__item
                a.footer-menu__link(href='#')= item
        a.footer__link(href='#') Все услуги для компаний
      section.footer__for-people
        h3.footer__title Для частных лиц
        nav.footer-menu
          ul.footer-menu__list
            each item in services.forPeople
              li.footer-menu__item
                a.footer-menu__link(href='#')= item
        a.footer__link(href='#') Все услуги для частных лиц
      section.footer__usefull
        h3.footer__title Полезное
        nav.footer-menu.footer-menu--upper
          ul.footer-menu__list
            each item in mainMenu[4].submenu
              li.footer-menu__item
                a.footer-menu__link(href=item.link)= item.text
      section.footer__contacts
        h3.footer__title Контакты
        p.footer__address= contacts.address
        ul.phones-list
          each phone in contacts.phones
            li.phones-list__item
              a.phones-list__link(href='tel:' + phone.number)= phone.text
        a.footer__link(href='#') Заказать обратный звонок
        nav.socials.footer__socials
          ul.socials__list
            each social in socials
              li.socials__item
                a.socials__link.icon(class=social.icon, href=social.link)
    .section__content
      .footer__bottom
        a.logo.logo--dark(href='index.html')
        .footer__copyright
          .footer__copyright-text © "The Иск", 2017
          .footer__copyright-logo
            a.copyright-logo(href='//art6.ru')

a.floating-button.js-floating-button

script(src='js/app.js')
