section.section.section-news
  .section__inner
    h2.section__title.center Новости
    .section-news__content
      each x, i in [...Array(2)]
        - var newsItem = news.items[i];
        - var link = 'news-item.html';
        article.news-item.section-news__item
          a.news-item__link(href=link)
            h4.news-item__title= newsItem.title
          .news-item__image-wrapper
            a.news-item__link(href=link)
              img.news-item__image(src='img/media/news/' + newsItem.image, alt='')
          span.news-item__date= newsItem.date
          p.news-item__desc= (i % 2 === 0) ? news.largeText : news.smallText
          a.news-item__read-more(href=link)= news.readMoreLabel
